.hidden-element {
    display: none;
}

#aqi {
    font-size: 2.5em;
    color: white;
    background-color: grey;
    border-radius: 10px;
    text-align: center;
}

#error {
    color: red;
    font-weight: bold;
}

.logo {
    font-weight: 700;
    font-style: italic;
}
