.hidden-element {
    display: none;
}

#aqi {
    font-size: 3em;
    color: white;
    background-color: grey;
    border-radius: 10px;
    text-align: center;
}

#error {
    color: red;
}

.welcome-title {
    margin-bottom: 0px;
}

.logo {
    font-weight: 600;
}
